* {
    font-family: 'Comic Sans MS';
    background-color: rgb(180, 180, 240)
}

.title {
    font-size: 96px;
    text-align: center;
    color: rgba(255,0,0);
    margin-bottom: -30px;
    letter-spacing: 5px;
}

.sub  {
    font-size: 20px;
    text-align: center;
    color: rgba(255,255,64);
    outline-color: rgb(0,0,0);
    outline-
}
